@import '../../css/BaseVariables.css';




.schedule-container {
    padding: 15px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-height: 500px;
    min-width: 1000px;
    max-width: 1000px;
}

.week-navigation button {
    padding: var(--padding);
    margin: var(--margin);
    color: var(--text-color);
    font-family: var(--font);
    background-color: var(--color-light-red);
    border:none;
    font-size: large;
    border-radius: 10px;
    width: 150px;
}

.week-navigation button:hover {
    cursor: pointer;
    background-color: var(--color-red);
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.schedule-table th, .schedule-table td {
    border: 1px solid var(--color-black);
    padding: 10px;
    text-align: center;
    width: 100px; /* Set a fixed width for columns */
}

.schedule-table th {
    background-color: var(--color-black);
    color: white;
}

.schedule-table td {
    background-color: transparent;
}

.schedule-table-wrapper {
    max-height: 300px; /* Set a max height for the table */
    overflow-y: auto; /* Enable vertical scrolling */
}

.event-box {
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    margin: 5px; /* Adjust margin to fit better */
}

.event-box:hover {
    cursor: pointer;
}