@import '../../css/BaseVariables.css';




.schedule-container {
    width: 100%;
    padding: 10px;
}

.week-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.scrollable {
    overflow-x: auto;
}

.schedule-grid {
    display: flex;
    flex-direction: row;
}

.day-column {
    flex: 1;
    min-width: 150px;
    border: 1px solid #ddd;
    position: relative;
}

.day-header {
    color:black;
    background-color: #f8f9fa;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.day-body {
    position: relative;
    height: 800px;
}


