@import '../BaseVariables.css';

.page-read-more-frame {
    padding-top: 60px;
    overflow: auto;
}

.page-frame {
    margin: var(--margin);
}

.movie-name {
    padding: var(--padding);
    margin: var(--margin);
}




.page-read-more-scroll-container {
    width: 100%; 
    height: 400px; 
    background-color: black;
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
}

.page-read-more-scroll-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: black;
}



.page-read-more-scroll-container iframe {
    width: 100%;
    height: 100%;
}

.image-navigation-buttons button {
    font-size: xx-large;
    padding: 3px;
    text-align: center;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    z-index: 1;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: transparent;
    color: white;
}

.scroll-button-right {
    right: 10px;
}

.scroll-button-left {
    right: 10px;
}

.scroll-button-right:hover {
    color:var(--color-hover)
}

.scroll-button-left:hover {
    color:var(--color-hover)
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.info-container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.info-container section {
    flex: 1;
}

.details-flex-box {
    display: flex;
    flex-direction: column;
    margin: var(--margin);
    padding: var(--padding);
    width: 40%;
}

.description-header,
.details-header {
    margin: 5px 0;
    font-size: large;
} 

.movie-description-container {
    color:var(--text-color);
    margin:var(--margin);
    padding:var(--padding);
    font-size: x-large;
}

.details-container {
    display: flex;
    flex-direction: row;
    justify-items: space-around;
}

.details-container h3 {
    flex:1;
}

.detail-name {
    color:var(--color-hover)
}

.ticket-button-container {
    display: grid;
    place-items: center;
}

.ticket-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 15px;
    padding: var(--padding);
    background-color: var(--color-light-red);
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 25px;
    color:var(--text-color);
    font-size: large;
}

.ticket-button:hover {
    background-color: var(--color-red);
    cursor: pointer;
}
