@import '../BaseVariables.css';

.page-seat-frame {
    padding: 100px 20px 0px 20px;
    overflow: auto;
}

.page-seat-flex-box {
    display: flex;
    justify-content: space-around;
    gap:100px;
}

.page-seat-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 700px;
    max-height: 400px;   
    gap: 20px;
}

.page-seat-movie-detail-container {
    padding: var(--padding);
    margin: var(--margin);
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.page-seat-moive-image {
    max-width: 50%;
    height: auto;
    transition: opacity 0.3s ease;
    object-fit: cover;
    background-color: var(--color-black);
}

.page-seat-movie-detail-sub-container {
    width: 50%;
}

.page-seat-sub-detail-flex {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.page-seat-sub-detail-flex-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    font-size: large;
}

.page-seat-schedule-details-grid-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.page-seat-selector-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--padding);
    flex: 8;
    box-shadow: 0px 0px 10px 10px var(--color-black);
}

.page-seat-selector-container input {
    padding: 10px;
    height: 20px;
    width: 60%;
    border-radius: 10px;
    background-color: var(--color-black);
    color:var(--text-color);
}

.page-seat-selector-container input:hover {
    cursor: pointer;
    background-color: rgb(30, 30, 30);
}


.page-seat-open-pay-button {
    border:none;
    border-radius: 10px;
    height: 40px;
    background-color: var(--color-light-red);
    width: 80%;
    color:var(--text-color);
    font-size: large;
}

.page-seat-open-pay-button:hover {
    cursor: pointer;
    background-color: var(--color-red);

}

.page-seat-container {
    margin:var(--margin);
    padding: var(--padding);

    box-shadow: 0px 0px 10px 10px var(--color-black);
}

.page-seat-chunks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 8;
}

.page-seat-div {
    width: 60px;
    height: 60px;
    margin: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-seat-div:hover {
    cursor: pointer;
    
}

.page-seat-screen {
    background-color: aliceblue;
    width: 100%;
    height: 20px;
    margin: var(--margin);
    justify-content: center;
    align-items: center;

}

.page-seat-screen label {
    color:var(--color-black);

}




.page-pay-container {
    padding:45px 20px 20px 20px;
}

.page-pay-flex-box {
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.shoppingbag-section {
    display: flex;
    border-radius: 10px;
    background-color: var(--color-black);
    width: 500px;
    gap: 20px;
    box-shadow: 0px 0px 10px 10px var(--color-black);
}

.page-pay-moive-image {
    width: 100px;
    height: auto;
    object-fit: contain;
    background-color: var(--color-black);
}

.page-pay-movie-header-container {
    display: flex;
    flex-direction: column;
    gap:10px;
    color: var(--text-color);
    
}

.page-pay-information-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page-pay-information-child-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.page-pay-information-child-container {
    font-size: large;
    justify-content: center;
    align-items: center;

}

.page-pay-information-container button {
    border-radius: 10px;
    height: 40px;
    background-color: var(--color-light-red);
    border:none;
    color:var(--text-color);
    font-size: large;
}

.page-pay-information-container button:hover {
    cursor: pointer;
    background-color: var(--color-red);
}

.page-pay-information-child-container input {
    width: 60%;
    height: 30px;
    border-radius: 10px;
    background-color: var(--color-black);
    color:var(--text-color);
    padding: 5px;
}

.page-pay-information-child-container input:hover {
    cursor: pointer;
    background-color: rgb(30, 30, 30);
}

