@import './BaseVariables.css';

.page-error-frame {
    padding: 60px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.page-error-frame label {
    font-size: large;
}

.page-error-frame button {
    font-size: large;
    background-color: var(--color-light-red);
    width: 200px;
    height: 40px;
    color: var(--text-color);
    border:none;
    border-radius: 10px;
}

.page-error-frame button:hover {
    background-color: var(--color-red);
    cursor: pointer;
}