@import './BaseVariables.css';

.page-home-frame {
    overflow: hidden;
}

.flex-box-home-page {
    display: flex;
    align-items: center;
    justify-content: center; /* Center items horizontally */
    position: relative; /* Ensure the children are positioned relative to this container */
    width: 100%;
    height: 100vh;
}

.right-curtain {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: url('../images/right-curtain-trans.png') no-repeat;
    background-size: cover;
    width: 20%;
    z-index: 200;
}

.left-curtain {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: url('../images/left-curtain-trans.png') no-repeat;
    background-size: cover;
    width: 20%;
    z-index: 200;
}

.content-container {
    top:10%;
    position: relative;
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.movies-container {
    width: 100%;
    height: 100%;
    overflow-y:scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}

.movies-container-flex-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.scroll-button-bundle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
    margin: var(--margin);
    z-index: 100;
}

.scroll-button-up {
    font-size: xx-large;
    width: 50px;
    height: 50px;
    padding:3px;
    pointer-events: auto;
    z-index: 9999;
    color:white;
    background-color: transparent;
    border: transparent;
}


.scroll-button-up:hover {
    cursor:pointer;
    color:var(--color-hover);
}


.scroll-button-down {
    font-size: xx-large;
    width: 50px;
    height: 50px;
    padding:3px;
    color:white;
    pointer-events: auto;
    z-index: 9999;
    background-color: transparent;
    border: transparent;
}


.scroll-button-down:hover {
    cursor:pointer;
    color:var(--color-hover);
}


::-webkit-scrollbar {
    background: transparent;
    width: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}


.movie-box {
    max-width: 240px;
    min-width: 240px;
    max-height: 500px;
    margin:30px;
    position: relative;
    background-color: var(--background);
    border-radius: 0px 0px 25px 25px;
    border: solid var(--color-black) 2px;
    box-shadow: 0px 0px 10px 10px var(--color-black);
}

.movie-box:hover .movie-box-name {
    text-decoration: underline;

}

.movie-box-name {
    padding: var(--padding);
    margin: var(--margin);
}

.movie-box-date {
    padding: var(--padding);
    margin: var(--margin);
}

.movie-image {
    width:100%;
    height: 70%;
    transition: opacity 0.3s ease;
    object-fit: cover;
}

.movie-box:hover .movie-image {
    opacity: 0.5;
}

.movie-desc-box {
    transition: background-color 0.3s ease;
    margin: 0px var(--margin) 0px var(--margin);
}



.movie-box-name {
    text-decoration: none;
    font-size: large;
    padding: var(--padding);
    margin: var(--margin);
    transition: text-decoration 0.3s ease;
}



.movie-button-bundle {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: var(--margin);
    padding: var(--padding);
}

.movie-box-button {
    border-radius: 25px;
    color: var(--text-color);
    font-family: var(--font);
    background-color: var(--color-light-red);
    margin:var(--margin);
    padding:var(--padding);
}

.movie-box-button:hover {
    background-color:var(--color-red);
    cursor: pointer;
}

.movie-button-bundle-link {
    text-decoration: none;
    color: var(--text-color);
    top:100%;
}


