@import './BaseVariables.css';

h1, h2, h3, h4, h5, p, label {
    color: var(--text-color);
    font-family: var(--font);
}

.header {
    background: var(--header-background);
    color: var(--text-color);
    width: 100%;
    padding: var(--padding);
    top: 0;
    left:0;
    right:0;
    position: fixed;
    margin-bottom:10px;
    z-index: 9998;
    height: 50px;
}


.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: var(--margin);
    padding: var(--padding);

}

.flex-item {
    position: relative;
    margin: var(--margin);
    padding: var(--padding);
}


.header-link {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    gap: 5px; 
}


.header-link:hover i {
    color: var(--color-hover);
}

.header-link:hover label {
    color: var(--color-hover);
}



.home-button:hover {
    cursor: pointer;
    color: var(--color-hover);
}


.login-button {
    display: flex;
    flex-direction: row;
    gap: 5px;
}


.login-button:hover i {
    color:var(--color-hover);
    cursor: pointer;
}

.login-button:hover label {
    color:var(--color-hover);
    cursor: pointer;
}

  
